@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--blue);
  --font-forum: var(--font-forum);
  --font-inter: var(--font-inter);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #3d3d3d;
  --blue: #2e629f;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
